body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
}

.image {
  width: 400px;
  background-color: aquamarine;
}

.sign-up {
  width: 800px;
  background-color: darkcyan;
}