@font-face { /* FW: 300, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: 300, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face { /* FW: normal, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: normal, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face { /* FW: 600, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: 600, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face { /* FW: bold, FS: normal */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face { /* FW: bold, FS: italic */
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.woff2') format('woff2'),
      url('../fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

*{
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
}

a {
  color: white;
}

body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  width: 100%;
  max-width: 1300px;
  min-height: 100vh;
  display: flex;
}

.image {
  width: 500px;
  background: url("../resources/greg-rosenke-QtXy0uoJtxs-unsplash.jpg");
  background-size: cover;
  background-position: -100px;
  position: relative;
  display: flex;
  justify-content: center;
}

.logo-div {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 150px;
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 130px;
}

.title {
  margin-left: 20px;
  font-size: 1.7rem;
  font-weight: 600;
  font-style: italic;
  color: white;
}

#image-credit {
  color: white;
  align-self: flex-end;
}

.sign-up {
  width: 800px;
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
}

.text-container {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  padding-left: 30px;
  padding-right: 100px;
}

.sign-up-now {
  font-style: italic;
}

.form-container {
  height: calc(100% - 350px);
}

